#login,
#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  gap: 1em;
}

.form-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.remember-me {
  width: 50%;
  text-align: center;
}

.actions-button {
  background-color: blue;
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10%;
  color: rgb(223, 219, 219);
  border: none;
}
